[Interface]
Address = {{ client.Address }}/32
DNS = {{ server.DNS}}
ListenPort = {{ server.ListenPort}}
PrivateKey = {{ client.PrivateKey }}

[Peer]
Endpoint = {{ server.Address }}  
PublicKey = {{ server.PublicKey }} 
{% if server.PresharedKey %}PresharedKey = {{ server.PresharedKey}}{% endif %}
{% if server.PersistentKeepalive %}PersistentKeepalive = {{ server.PersistentKeepalive}}{% endif %}
{% if server.AllowedIPs %} AllowedIPs = {{ server.AllowedIPs|join(',') }}
{% else %}
AllowedIPs = 0.0.0.0/0, ::/0{% endif %}